:root {
	--color-io6zfjfxg: 255, 204, 82;
	--color-iem12b28b: 255, 204, 82;
	--color-i3aarw6hu: 255, 204, 82;
	--color-i0dmw7yn4: 255, 204, 82;
	--color-iogze0wes: 255, 204, 82;
	--color-iydlui805: 255, 204, 82;
	--color-idblgoemf: 255, 204, 82;
	--color-i93f1xtbt: 255, 204, 82;
	--color-inc7g6248: 255, 204, 82;
	--color-iohnslvra: 255, 204, 82;
	--color-i6rg83sq7: 255, 204, 82;
	--color-ifof56jkp: 255, 204, 82;
	--color-ixaytwk65: 255, 204, 82;
	--color-ijhadwf1a: 255, 204, 82;
	--color-iiziuauun: 255, 204, 82;
	--color-iewzvwf0c: 255, 204, 82;
	--color-iimfk06vv: 255, 188, 21;
	--color-ig4ma0tpk: 255, 188, 21;
	--color-ijccyl67z: 255, 188, 21;
	--color-i8534xsua: 255, 188, 21;
	--color-iy2fzey95: 255, 188, 21;
	--color-io1tj6qow: 255, 188, 21;
	--color-idmka9wu0: 255, 188, 21;
	--color-iooagp1v9: 255, 188, 21;
	--color-icz9glbo7: 255, 188, 21;
	--color-iagmua5n5: 255, 188, 21;
	--color-isur7clb0: 255, 188, 21;
	--color-ipnu38h80: 255, 188, 21;
	--color-ivkuefgmz: 255, 188, 21;
	--color-ic6v7ts6c: 255, 188, 21;
	--color-ilta9piwo: 255, 188, 21;
	--color-i199ubxrz: 255, 188, 21;
	--color-ibs9xixxt: 255, 188, 21;
	--color-inmrr5jad: 255, 188, 21;
	--color-iflec3urd: 255, 188, 21;
	--color-i8dknzxoi: 255, 188, 21;
	--color-izqhxrnr6: 255, 188, 21;
	--color-i4b5yesxs: 255, 188, 21;
	--color-i5tkpk8x7: 255, 188, 21;
	--color-ix0ncuraq: 255, 188, 21;
	--color-i2lat5608: 255, 188, 21;
	--color-im2w3cbw7: 255, 188, 21;
	--color-iirr50ini: 255, 188, 21;
	--color-ia46f1r4s: 255, 188, 21;
	--color-imbmhjhi6: 255, 188, 21;
	--color-iubtiodzz: 255, 188, 21;
	--color-i0gj18p1d: 255, 188, 21;
	--color-iocv9x76m: 255, 188, 21;
	--color-ibe3la2ct: 255, 188, 21;
	--color-izwn681gf: 255, 188, 21;
	--color-ij9acifnx: 255, 188, 21;
	--color-i1bs4znmp: 255, 188, 21;
	--color-inrk3o220: 255, 188, 21;
	--color-izbrrmtrm: 255, 188, 21;
	--color-issangnnf: 255, 188, 21;
	--color-i9th42yla: 255, 188, 21;
	--color-iawswpyag: 255, 188, 21;
	--color-igc61xvul: 255, 188, 21;
	--color-ivma3c3mz: 255, 188, 21;
	--color-ig9wctmbf: 255, 188, 21;
	--color-i3r5dpw40: 255, 188, 21;
	--color-i37zj7t6c: 255, 188, 21;
	--color-i8kfcrnxy: 255, 188, 21;
	--color-i6mpxym9j: 255, 188, 21;
	--color-icy2qlq3t: 255, 188, 21;
	--color-immtw0c6c: 255, 188, 21;
	--color-iyez8e7f8: 255, 188, 21;
	--color-i711uiv27: 255, 188, 21;
	--color-i2swplk6c: 255, 188, 21;
	--color-i4zlxc1zj: 255, 188, 21;
	--color-iybunfp8b: 253, 167, 13;
	--color-i84f9xgkd: 253, 167, 13;
	--color-iii3kzn0v: 253, 167, 13;
	--color-ikskmgsfb: 253, 167, 13;
	--color-ixyolcxed: 22, 22, 22;
	--color-iq099ejjo: 22, 22, 22;
	--color-i0mfqhn8a: 22, 22, 22;
	--color-i9yx4gvxh: 22, 22, 22;
	--color-ikyuxpx8v: 22, 22, 22;
	--color-i4eu8lmw5: 22, 22, 22;
	--color-icm6boau9: 22, 22, 22;
	--color-i143fmpwn: 22, 22, 22;
	--color-i0r09lwzf: 22, 22, 22;
	--color-i8bvmp7gs: 22, 22, 22;
	--color-isx0wxse9: 22, 22, 22;
}

