
:root {
	--color-iz21apakh: 255, 255, 255;
	--color-iygzoo466: 0, 0, 0;
	--color-ihmx6kkk7: 0, 0, 0;
	--color-i68aebqw0: 0, 0, 0;
	--color-i9akdk21q: 107, 107, 107;
	--color-i5ip5uc0p: 107, 107, 107;
	--color-i84f9xgkd: 253, 167, 13;
	--color-iii3kzn0v: 253, 167, 13;
	--color-ikskmgsfb: 253, 167, 13;
	--color-i2swplk6c: 255, 188, 21;
	--color-iyxf079ub: 255, 255, 255;
	--color-itnlqzpv3: 255, 255, 255;
	--color-iv6lb48g4: 255, 255, 255;
	--color-ivhghax2s: 248, 248, 248;
	--color-i87y09ppg: 248, 248, 248;
	--color-is89k50sf: 248, 248, 248;
	--color-i8q9vqs8g: 248, 248, 248;
}

.container--u-ihp3n9iso { width: 100%; max-width: 1400px; margin-top: 0px; margin-right: 0; margin-bottom: 0px; margin-left: 0; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; padding-right: 30px;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: space-between; padding-top: 20px; padding-bottom: 20px; background-color: rgba(var(--color-iz21apakh), 1); color: rgba(var(--color-iygzoo466), 1); border-bottom-right-radius: 25px; cursor: auto; font-size: 16px; font-style: normal; font-weight: 400; letter-spacing: normal; line-height: normal; overflow-wrap: break-word; text-align: left; text-indent: 0px; text-shadow: none; text-transform: none; border-top-right-radius: 25px; border-top-left-radius: 25px; border-bottom-left-radius: 25px }
.div--u-igg1eizpb { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: flex-end;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; flex-shrink: 1; margin-left: auto; margin-right: 0px }
.list__item--u-ihz32ijqd { padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 10px }
.link-universal--u-i5mrvykh9 { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; font-weight: 600; font-size: 18px; color: rgba(var(--color-ihmx6kkk7), 1) }
.text--u-ifmde2uys { display: block; font-size: 16px; font-weight: 700 }
.div--u-i7890bla0 { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; flex-shrink: 0;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; background-image: none; background-repeat: repeat; background-position: 0 0; background-size: auto; background-attachment: scroll }
.svg_image--u-im2a0fhbj { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 20px; width: 20px; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-im2a0fhbj > svg { flex-shrink: 0 }
.svg_image--u-im2a0fhbj svg { width: 100%; height: 100% }
.svg_image--u-im2a0fhbj .path-in2qfztjv { fill: rgba(var(--color-ikskmgsfb), 1) }
.div--u-i7duzck82 { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; justify-content: flex-end; margin-top: 0; margin-bottom: 0;  -webkit-box-align: center; -ms-flex-align: center; align-items: center }
.list__item--u-ixywmcsjb { padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 5px }
.link-universal--u-iycm3ue88 { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; color: rgba(var(--color-i68aebqw0), 1) }
.text--u-ib729yuda { display: block; font-size: 15px; color: rgba(var(--color-i9akdk21q), 1) }
.div--u-i1ntd864m { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; flex-shrink: 0;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; background-image: none; background-repeat: repeat; background-position: 0 0; background-size: auto; background-attachment: scroll }
.svg_image--u-ijniseos1 { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 20px; width: 20px; overflow-x: hidden; overflow-y: hidden; margin-right: 10px }
.svg_image--u-ijniseos1 > svg { flex-shrink: 0 }
.svg_image--u-ijniseos1 svg { width: 100%; height: 100% }
.svg_image--u-ijniseos1 .path-i5scqmmco { fill: rgba(var(--color-iii3kzn0v), 1) }
.div--u-ivzhn115f { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; justify-content: flex-start; margin-top: 0; margin-bottom: 0;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 20px }
.list__item--u-i9nb2lq3k { padding-top: 1px; padding-right: 0px; padding-bottom: 1px; padding-left: 5px }
.text--u-ixq3kmlxh { display: block; font-size: 15px; color: rgba(var(--color-i5ip5uc0p), 1) }
.div--u-igssc2sd7 { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; flex-shrink: 0;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; background-image: none; background-repeat: repeat; background-position: 0 0; background-size: auto; background-attachment: scroll; margin-right: 0px }
.svg_image--u-ix1sshe4w { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 20px; width: 20px; overflow-x: hidden; overflow-y: hidden; margin-right: 10px }
.svg_image--u-ix1sshe4w > svg { flex-shrink: 0 }
.svg_image--u-ix1sshe4w svg { width: 100%; height: 100% }
.svg_image--u-ix1sshe4w .path-i3x2u8r8e { fill: rgba(var(--color-i84f9xgkd), 1) }
.div--u-iamm0yrnf { width: auto; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 0px;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; flex-wrap: wrap }
.list__item--u-i5rmll6lw { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 4px; margin-bottom: 4px; margin-left: 4px; margin-right: 4px; opacity: 1; transition-property: all; transition-duration: 300ms; transition-delay: 0ms; transition-timing-function: ease }
.list__item--u-i5rmll6lw:hover, .list__item--u-i5rmll6lw.is-hover { opacity: 1 }
.list--u-i5t7oz5po { display: -webkit-box; display: -ms-flexbox; display: flex; flex-wrap: wrap }
.link-universal--u-iipnm7fai { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; min-width: 0px; min-height: 0px; width: 32px; height: 32px;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; background-color: rgba(var(--color-i2swplk6c), 1); border-top-left-radius: 250px; border-top-right-radius: 250px; border-bottom-right-radius: 250px; border-bottom-left-radius: 250px }
.svg_image--u-ix5bwzcez { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 16px; width: 16px; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-ix5bwzcez > svg { flex-shrink: 0 }
.svg_image--u-ix5bwzcez svg { width: 100%; height: 100% }
.svg_image--u-ix5bwzcez .path-i23h691yx { fill: rgba(var(--color-iyxf079ub), 1) }
.svg_image--u-ix5bwzcez .path-ij9n944br { fill: rgba(var(--color-itnlqzpv3), 1) }
.svg_image--u-ix5bwzcez .path-i11v1f4g8 { fill: rgba(var(--color-iv6lb48g4), 1) }
.svg_image--u-ix5bwzcez .path-in803q6oi { fill: rgba(var(--color-ivhghax2s), 1) }
.svg_image--u-ix5bwzcez .path-id1wqgbix { stroke: rgba(var(--color-i87y09ppg), 1) }
.svg_image--u-ix5bwzcez .path-i5a43d9ig { stroke: rgba(var(--color-is89k50sf), 1) }
.svg_image--u-ix5bwzcez .path-ii4c74xqi { fill: rgba(var(--color-i8q9vqs8g), 1) }

@media (max-width: 991px) {
	.div--u-ivzhn115f { display: none }
	.div--u-i7duzck82 { justify-content: flex-start }
}

@media (max-width: 767px) {
	.container--u-ihp3n9iso { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; flex-wrap: wrap }
	.div--u-ivzhn115f { display: none }
	.div--u-i7duzck82 { justify-content: flex-start; padding-right: 10px }
	.div--u-igg1eizpb { padding-left: 0px }
}

@media (max-width: 479px) {
	.container--u-ihp3n9iso { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-right: 20px }
	.div--u-i7duzck82 { display: -webkit-box; display: -ms-flexbox; display: flex; padding-right: 0px; margin-bottom: 10px }
	.div--u-igg1eizpb { justify-content: center; margin-left: auto; margin-right: auto }
}